﻿@using Welltute.Models;

@model CommonViewModel
<html lang="zxx">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAFt_fAkCV_pURC2Q7qppS-SYO4bhPll2A&sensor=false&libraries=places"></script>
    <script type="text/javascript">
        google.maps.event.addDomListener(window, 'load', function () {
            var places = new google.maps.places.Autocomplete(document.getElementById('txtPlaces'));
            google.maps.event.addListener(places, 'place_changed', function () {
                var place = places.getPlace();
                var address = place.formatted_address;
                var latitude = place.geometry.location.lat();
                var longitude = place.geometry.location.lng();
                var opts = {
                    types: ['(cities)']
                };
                //Afjal
                document.getElementById('hfLat').value = latitude;
                document.getElementById('hfLong').value = longitude;

            });
        });
    </script>
    <script>
        function openCity(evt, cityName) {
            debugger;
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <title>Welltute</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Welltute, Coaching Class, Tution, Simran,CBSE,International board,IB, Home Tutor, tutorialspoint, home tutor in ahmedabad,cbse tutorials near me,cbse tutor in ahmedabad,home tutor for cbse class 5,home tutor for cbse class 6,home tutor for cbse class 7,home tutor for cbse class 8,home tutor for cbse class 9" />
    <script type="application/x-javascript">
                    addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){window.scrollTo(0, 1); }</script>
    <!--// Meta tag Keywords
    <!-- css files -->
    <link rel="stylesheet" href="~/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="~/css/swipebox.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <!-- //css files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=cyrillic,latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <!-- //online-fonts -->
    <style>
        /* Paste this css to your style sheet file or under head tag */
        /* This only works with JavaScript,
        if it's not present, don't show loader */
        .no-js #loader {
            display: none;
        }

        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }

        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url(../../images/loader3.gif) center no-repeat #fff;
        }

        .content {
            padding: 16px;
        }

        /*.sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }*/

        #navbar {
            /*overflow: hidden;*/
            background-color: #002147;
            z-index: 1;
        }

        .image-bg-cover {
            background-image: url('../../images/bn9.jpg');
            background-repeat: no-repeat;
            background-position: top center;
            background-size: auto;
            width: 100%;
            height: 713px;
        }
        .RegistrationFreeStyle {
            BORDER-RADIUS: 0PX 0PX 15PX 15PX;
            color: white;
            background-color: #034d6f;
            border-color: #284e69;
            border-style: solid;
            border: 0px solid #284e69;
            width: 145px;
            height: 25px;
        }
        .MarginTopStyle {
            margin-top: -5px;
        }
    </style>
    <script type="text/javascript">
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");;
        });
    </script>

</head>
<body>

    <!-- banner -->
    <div class="main_section_agile" id="navbar">
        <div class="agileits_w3layouts_banner_nav">
            <nav class="navbar navbar-default">
                <h1><a class="navbar-brand" href="@Url.Action("Index","Home")"><i class="fa fa-leanpub" aria-hidden="true"></i> Welltute</a></h1>
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav class="link-effect-2" id="link-effect-2">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Action("Index","Home")" class="effect-3">Home</a></li>
                            <li><a href="#about" class="effect-3 scroll">About Us</a></li>
                            <li><a href="#services" class="effect-3 scroll">Services</a></li>
                            <li><a href="#team" class="effect-3 scroll">Team</a></li>
                            <li><a href="#gallery" class="effect-3 scroll">Gallery</a></li>
                            <li><a href="#mail" class="effect-3 scroll">Mail Us</a></li>
                        </ul>
                    </nav>

                </div>
            </nav>
            <div class="clearfix"> </div>
        </div>
    </div>


    <!-- banner -->


    <div class="about-bottom">
        <div class="col-md-6 w3l_about_bottom_left">
            <div class="abt-w3l" id="afjal">
                <div class="header-w3l">
                    <div class="image-bg-cover img-responsive">
                        <div class="txt-content text-center">
                            <h1 style="color:blueviolet">
                                
                                <br />Need a Home Tutor?
                                <br />Call 9990922777
                                <br />for Free Demo.
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6" id="afjal1">
                     @*Afjal*@
            <div class="header-w3l panel with-nav-tabs panel-info image-bg-cover img-responsive">
                <div class="panel-heading">
                    
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1primary" data-toggle="tab">I am a  Student/Parent</a></li>
                        <li><a href="#tab2primary" data-toggle="tab">I am a  Tutor</a></li>
                    </ul>
                    <button type="button" class="RegistrationFreeStyle"><div class="MarginTopStyle"><span style="font-weight: bold;FONT: MONOSPACE;LETTER-SPACING: 2PX;">FREE</span> Registration</div></button>    
                </div>
                <div class="panel-body">
                    <div class="tab-content">

                        <div class="tab-pane fade in active" id="tab1primary">
                            <h2 style="color:#ffb71c">Find Best Home Tutors Near You.</h2>
                            
                            @*@using (Ajax.BeginForm("Registration", "Home", new { FormMethod.Post }))*@
                            @using (Ajax.BeginForm("Registration", "Home", new AjaxOptions
                    {
                        OnSuccess = "OnSuccess",
                        OnFailure = "OnFailure",
                        LoadingElementId = "progress"
                    }))
                    {
                                @Html.HiddenFor(x => x.UserModelCV.Latitude, new { @id = "hfLat" })
                                @Html.HiddenFor(x => x.UserModelCV.Longitude, new { @id = "hfLong" })

                                <div class="col-md-12 col-xs-12 w3l-left-mk">
                                    <ul>
                                        @*<li class="text">Name of Applicant :  </li>*@
                                        <li class="agileits-main">
                                            <i class="fa fa-user-o" aria-hidden="true"></i>
                                            @Html.TextBoxFor(x => x.UserModelCV.NameOfApplicant, new { @required = "", @placeholder = "Name", @tabindex = "1", @id = "Name" })
                                        </li>
                                        @Html.ValidationMessageFor(x => x.UserModelCV.NameOfApplicant, "", new { @class = "alert-danger" })
                                        <li class="agileits-main">
                                            <i class="fa fa-phone" aria-hidden="true"></i> @Html.TextBoxFor(x => x.UserModelCV.MobileNo, new { @required = "", @placeholder = "Mobile No", @tabindex = "2" })
                                        </li>
                                        @Html.ValidationMessageFor(x => x.UserModelCV.MobileNo, "", new { @class = "alert-danger" })

                                        <li class="agileits-main">
                                            <i class="fa fa-envelope" aria-hidden="true"></i> @Html.TextBoxFor(x => x.UserModelCV.Mail, new { @required = "", @placeholder = "Enter Email", @tabindex = "3" })
                                        </li>
                                        @Html.ValidationMessageFor(x => x.UserModelCV.MobileNo, "", new { @class = "alert-danger" })

                                        <li class="agileits-main">
                                            <i class="fa fa-graduation-cap" aria-hidden="true"></i> @Html.TextBoxFor(x => x.UserModelCV.Course, new { @required = "", @placeholder = "Course you need help with", @tabindex = "4" })
                                        </li>
                                        @Html.ValidationMessageFor(x => x.UserModelCV.MobileNo, "", new { @class = "alert-danger" })
                                        <li class="agileits-main">
                                            <i class="fa fa-book" aria-hidden="true"></i> @Html.TextBoxFor(x => x.UserModelCV.Subject, new { @required = "", @placeholder = "Subject you need help with", @tabindex = "5" })
                                        </li>
                                        @Html.ValidationMessageFor(x => x.UserModelCV.MobileNo, "", new { @class = "alert-danger" })

                                        
                                        <li class="agileits-main">
                                            <i class="fa fa-home" aria-hidden="true"></i> @Html.TextBoxFor(x => x.UserModelCV.Address, new { @required = "", @id = "txtPlaces", @placeholder = "Enter Address", @tabindex = "6" })

                                        </li>
                                        @Html.ValidationMessageFor(x => x.UserModelCV.Address, "", new { @class = "alert-danger" })
                                        @*<li class="text">Date of Birth :  </li>
                                            <li class="agileits-main">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                @Html.TextBoxFor(x => x.UserModelCV.DateOfBirth, new { @required = "", @placeholder = "Date of Birth", @class = "date", @id = "datepicker", @tabindex = "2" })
                                            </li>
                                            @Html.ValidationMessageFor(x => x.UserModelCV.DateOfBirth, "", new { @class = "alert-danger" })
                                            @*<li class="text">Mobile No  :  </li>*@

                                    </ul>
                                </div>
                                @*<div class="col-md-6 col-xs-6 w3l-right-mk">
                                        <ul>
                                            <li class="text">Father Name  :  </li>
                                            <li class="agileits-main">
                                                <i class="fa fa-user-o" aria-hidden="true"></i> @Html.TextBoxFor(x => x.UserModelCV.FatherName, new { @placeholder = "Enter Father Name", @tabindex = "4", @required = "" })
                                            </li>
                                            @Html.ValidationMessageFor(x => x.UserModelCV.FatherName, "", new { @class = "alert-danger" })
                                            <li class="text">Gender  :  </li>
                                            <li class="agileits-main">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                @Html.TextBoxFor(x => x.UserModelCV.Gender, new { @required = "", @placeholder = "Enter Gender", @tabindex = "5" })
                                            </li>
                                            @Html.ValidationMessageFor(x => x.UserModelCV.Gender, "", new { @class = "alert-danger" })
                                            <li class="text">Address  :  </li>
                                            <li class="agileits-main">
                                                <i class="fa fa-home" aria-hidden="true"></i> @Html.TextBoxFor(x => x.UserModelCV.Address, new { @required = "", @id = "txtPlaces", @placeholder = "Enter Address", @tabindex = "6" })

                                            </li>
                                            @Html.ValidationMessageFor(x => x.UserModelCV.Address, "", new { @class = "alert-danger" })
                                        </ul>
                                    </div>*@


                                <div class="clearfix"></div>
                                <div class="agile-submit">
                                    <input type="submit" value="GET FREE DEMO CLASS" name="Command" tabindex="7" id="btnsubmit">
                                    <div id="progress" class="modal">
                                        <div class="center">
                                            <img src="~/images/ajax-loader(2).gif" />
                                        </div>
                                    </div>
                                </div>
                    }

                        </div>



                        
                            <div class="header-w3l tab-pane fade" id="tab2primary">
                                <h2 style="color:#ffb71c">Looking for Home Tutors Jobs?</h2>
                                @using (Ajax.BeginForm("Registration", "Home", new AjaxOptions
                    {
                        OnSuccess = "OnSuccess",
                        OnFailure = "OnFailure",
                        LoadingElementId = "progress"
                    }))
                    {
                                @Html.HiddenFor(x => x.UserModelCV.Latitude, new { @id = "hfLat" })
                                @Html.HiddenFor(x => x.UserModelCV.Longitude, new { @id = "hfLong" })

                                <div class="col-md-12 col-xs-12 w3l-left-mk">
                                    <ul>
                                        @*<li class="text">Name of Applicant :  </li>*@
                                        <li class="agileits-main">
                                            <i class="fa fa-user-o" aria-hidden="true"></i>
                                            @Html.TextBoxFor(x => x.UserModelCV.NameOfApplicant, new { @required = "", @placeholder = "Name", @tabindex = "1", @id = "Name" })
                                        </li>
                                        @Html.ValidationMessageFor(x => x.UserModelCV.NameOfApplicant, "", new { @class = "alert-danger" })
                                        <li class="agileits-main">
                                            <i class="fa fa-phone" aria-hidden="true"></i> @Html.TextBoxFor(x => x.UserModelCV.MobileNo, new { @required = "", @placeholder = "Mobile No", @tabindex = "3" })
                                        </li>
                                        @Html.ValidationMessageFor(x => x.UserModelCV.MobileNo, "", new { @class = "alert-danger" })

                                        <li class="agileits-main">
                                            <i class="fa fa-envelope" aria-hidden="true"></i> @Html.TextBoxFor(x => x.UserModelCV.Mail, new { @required = "", @placeholder = "Enter Email", @tabindex = "3" })
                                        </li>
                                        @Html.ValidationMessageFor(x => x.UserModelCV.Mail, "", new { @class = "alert-danger" })

                                        <li class="agileits-main">
                                            <i class="fa fa-graduation-cap" aria-hidden="true"></i> @Html.TextBoxFor(x => x.UserModelCV.Course, new { @required = "", @placeholder = "Course you tech", @tabindex = "3" })
                                        </li>
                                        @Html.ValidationMessageFor(x => x.UserModelCV.Course, "", new { @class = "alert-danger" })
                                        <li class="agileits-main">
                                            <i class="fa fa-book" aria-hidden="true"></i> @Html.TextBoxFor(x => x.UserModelCV.Subject, new { @required = "", @placeholder = "Subject you tech", @tabindex = "3" })
                                        </li>
                                        @Html.ValidationMessageFor(x => x.UserModelCV.Subject, "", new { @class = "alert-danger" })

                                        
                                        <li class="agileits-main">
                                            <i class="fa fa-home" aria-hidden="true"></i> @Html.TextBoxFor(x => x.UserModelCV.Address, new { @required = "", @id = "txtPlaces", @placeholder = "Enter Address", @tabindex = "6" })

                                        </li>
                                        @Html.ValidationMessageFor(x => x.UserModelCV.Address, "", new { @class = "alert-danger" })
                                        @*<li class="text">Date of Birth :  </li>
                                            <li class="agileits-main">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                @Html.TextBoxFor(x => x.UserModelCV.DateOfBirth, new { @required = "", @placeholder = "Date of Birth", @class = "date", @id = "datepicker", @tabindex = "2" })
                                            </li>
                                            @Html.ValidationMessageFor(x => x.UserModelCV.DateOfBirth, "", new { @class = "alert-danger" })
                                            @*<li class="text">Mobile No  :  </li>*@

                                    </ul>
                                </div>
                                @*<div class="col-md-6 col-xs-6 w3l-right-mk">
                                        <ul>
                                            <li class="text">Father Name  :  </li>
                                            <li class="agileits-main">
                                                <i class="fa fa-user-o" aria-hidden="true"></i> @Html.TextBoxFor(x => x.UserModelCV.FatherName, new { @placeholder = "Enter Father Name", @tabindex = "4", @required = "" })
                                            </li>
                                            @Html.ValidationMessageFor(x => x.UserModelCV.FatherName, "", new { @class = "alert-danger" })
                                            <li class="text">Gender  :  </li>
                                            <li class="agileits-main">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                @Html.TextBoxFor(x => x.UserModelCV.Gender, new { @required = "", @placeholder = "Enter Gender", @tabindex = "5" })
                                            </li>
                                            @Html.ValidationMessageFor(x => x.UserModelCV.Gender, "", new { @class = "alert-danger" })
                                            <li class="text">Address  :  </li>
                                            <li class="agileits-main">
                                                <i class="fa fa-home" aria-hidden="true"></i> @Html.TextBoxFor(x => x.UserModelCV.Address, new { @required = "", @id = "txtPlaces", @placeholder = "Enter Address", @tabindex = "6" })

                                            </li>
                                            @Html.ValidationMessageFor(x => x.UserModelCV.Address, "", new { @class = "alert-danger" })
                                        </ul>
                                    </div>*@


                                <div class="clearfix"></div>
                                <div class="agile-submit">
                                    <input type="submit" value="FIND STUDENTS NOW!" name="Command" tabindex="7" id="btnsubmit">
                                    <div id="progress" class="modal">
                                        <div class="center">
                                            <img src="~/images/ajax-loader(2).gif" />
                                        </div>
                                    </div>
                                </div>
                    }

                            </div>
                        
                        </div>

                </div>

            </div>
        </div>
    </div>







    @*</div>*@
    @*</div>*@
    @*</div>*@
    <!-- //banner -->
    <!-- Modal1 -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    @*<div class="signin-form profile">
                            <h3 class="agileinfo_sign">Sign In</h3>
                            <div class="login-form">
                                <form action="#" method="post">
                                    <input type="email" name="email" placeholder="E-mail" required="">
                                    <input type="password" name="password" placeholder="Password" required="">
                                    <div class="tp">
                                        <input type="submit" value="Sign In">
                                    </div>
                                </form>
                            </div>
                            <div class="login-social-grids">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                            <p><a href="#" data-toggle="modal" data-target="#myModal3"> Don't have an account?</a></p>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal1 -->
    <!-- Modal2 -->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="signin-form profile">
                        <h3 class="agileinfo_sign">Sign Up</h3>
                        <div class="login-form">
                            <form action="#" method="post">
                                <input type="text" name="name" placeholder="Username" required="">
                                <input type="email" name="email" placeholder="Email" required="">
                                <input type="password" name="password" placeholder="Password" required="">
                                <input type="password" name="password" placeholder="Confirm Password" required="">
                                <input type="submit" value="Sign Up">
                            </form>
                        </div>
                        <p><a href="#"> By clicking Sign Up, I agree to your terms</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
    <!-- //Modal2 -->
    <!-- about -->
    <div class="about-top" id="about">
        <div class="container">
            <h3 class="w3l-title">About Us</h3>
            <div class="w3layouts_header">
                <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
            </div>
            <div class="col-md-7 wthree-services-bottom-grids">
                <div class="wthree-services-left">
                    <img src="~/images/ab1.jpg" alt="">
                </div>
                <div class="wthree-services-right">
                    <img src="~/images/ab2.jpg" alt="">
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-5 wthree-about-grids">
                <h4>Welcome to Welltute</h4>
                <p>
                    Welltute Coaching Classes has been surging ahead on the success track and has distinguished itself by setting up a new standard in the world of competitive education since 2015.
                    <a href="#" class="trend-w3l" data-toggle="modal" data-target="#myModal"><span>Read More</span></a>
                    <a href="#mail" class="trend-w3l scroll"><span>Get In Touch</span></a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- modal -->
    <div class="modal about-modal w3-agileits fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <img src="~/images/g10.jpg" alt="">
                    <p>
                        Welltute Coaching Classes has been surging ahead on the success track and has distinguished itself by setting up a new standard in the world of competitive education since 2015. It is an Institution of knowledge under the aegis of Mrs. Simran Mansuri for imparting the quality education for the students of IX & X, both State Board Syllabus and CBSE Board Syllabus. Our qualified and experienced teachers conduct coaching classes, at convenient timings.
                        Welltute Coaching Classes is structured on the principle of consistency and hardwork and believes in scientific approach based on perfect planning and proper guidance. Student’s overall development and splendid success is our prime concern. Genius teaches all subjects under one roof.
                        The limited strength of students in each class, its unique working schedule, pre-planning of complete syllabus, and its strict implementation, personal attention to every student, perfect working pattern, sincere and devout teachers, regular Unit-Tests, Board Pattern-wise preparation of every question paper, etc. has produced altogether a number of merit holders in X Karnataka State Board Exams and in CBSE Board Exams at Welltute Coaching Classes.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //modal -->
    <!-- //about -->
    <!--stats-->
    <div class="stats" id="stats">
        <div class="container">
            <div class="stats-info">
                <div class="col-md-3 col-xs-3 stats-grid slideanim">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='12760' data-delay='.5' data-increment="1">12760</div>

                    <h4 class="stats-info">FOREIGN FOLLOWERS</h4>
                </div>
                <div class="col-md-3 col-xs-3 stats-grid slideanim">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='31000' data-delay='.5' data-increment="1">31000</div>

                    <h4 class="stats-info">CLASSES COMPLETE</h4>
                </div>
                <div class="col-md-3 col-xs-3 stats-grid slideanim">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='79000' data-delay='.5' data-increment="10">79000</div>

                    <h4 class="stats-info">STUDENTS ENROLLED</h4>
                </div>
                <div class="col-md-3 col-xs-3 stats-grid slideanim">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='600' data-delay='.5' data-increment="1">600</div>

                    <h4 class="stats-info">CERTIFIED TEACHERS</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--//stats-->
    <!-- services -->
    <div class="services" id="services">
        <div class="container">
            <h3 class="w3l-title">Our Services</h3>
            <div class="w3layouts_header">
                <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
            </div>
            <div class="services-w3ls-row">
                <div class="col-xs-4 services-grid agileits-w3layouts">
                    <span class="fa fa-graduation-cap" aria-hidden="true"></span>
                    <h6>01</h6>
                    <h5>Scholarship Facility</h5>
                    <p>Itaque earum rerum hic a sapiente delectus in auctor sapien. Itaque earum rerum hic a sapiente delectus in auctor sapien.</p>
                </div>
                <div class="col-xs-4 services-grid agileits-w3layouts">
                    <h6>02</h6>
                    <h5>Skilled Lecturers</h5>
                    <p>Itaque earum rerum hic a sapiente delectus in auctor sapien. Itaque earum rerum hic a sapiente delectus in auctor sapien.</p>
                    <span class="fa fa-user-o grid-w3l-ser" aria-hidden="true"></span>
                </div>
                <div class="col-xs-4 services-grid agileits-w3layouts">
                    <span class="fa fa-book" aria-hidden="true"></span>
                    <h6>03</h6>
                    <h5>Book Library & Store</h5>
                    <p>Itaque earum rerum hic a sapiente delectus in auctor sapien. Itaque earum rerum hic a sapiente delectus in auctor sapien.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //services -->
    <!-- Gallery -->
    <section class="portfolio-w3ls" id="gallery">
        <h3 class="w3l-title">Our Gallery</h3>
        <div class="w3layouts_header">
            <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
        </div>
        <div class="col-md-3 col-xs-3 gallery-grid gallery1">
            <a href="images/g1.jpg" class="swipebox">
                <img src="~/images/g1.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>Welltute</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-xs-3 gallery-grid gallery1">
            <a href="images/g2.jpg" class="swipebox">
                <img src="~/images/g2.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>Welltute</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-xs-3 gallery-grid gallery1">
            <a href="~/images/g3.jpg" class="swipebox">
                <img src="~/images/g3.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>Welltute</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-xs-3 gallery-grid gallery1">
            <a href="images/g7.jpg" class="swipebox">
                <img src="~/images/g7.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>Welltute</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-xs-3 gallery-grid gallery1">
            <a href="~/images/g5.jpg" class="swipebox">
                <img src="~/images/g5.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>Welltute</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-xs-3 gallery-grid gallery1">
            <a href="~/images/g6.jpg" class="swipebox">
                <img src="~/images/g6.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>Welltute</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-xs-3 gallery-grid gallery1">
            <a href="~/images/g11.jpg" class="swipebox">
                <img src="~/images/g11.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>Welltute</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-xs-3 gallery-grid gallery1">
            <a href="~/images/g8.jpg" class="swipebox">
                <img src="~/images/g8.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>Welltute</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-xs-3 gallery-grid gallery1">
            <a href="~/images/g9.jpg" class="swipebox">
                <img src="~/images/g9.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>Welltute</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-xs-3 gallery-grid gallery1">
            <a href="~/images/g10.jpg" class="swipebox">
                <img src="~/images/g10.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>Welltute</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-xs-3 gallery-grid gallery1">
            <a href="~/images/g4.jpg" class="swipebox">
                <img src="~/images/g4.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>Welltute</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-xs-3 gallery-grid gallery1">
            <a href="~/images/g12.jpg" class="swipebox">
                <img src="~/images/g12.jpg" class="img-responsive" alt="/">
                <div class="textbox">
                    <h4>Welltute</h4>
                    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                </div>
            </a>
        </div>
        <div class="clearfix"> </div>
    </section>
    <!-- //gallery -->
    <!-- team -->
    <div class="team-w3l" id="team">
        <div class="container">
            <h3 class="w3l-title">Our Skilled Lecturers</h3>
            <div class="w3layouts_header">
                <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
            </div>
            <div class="team-w3l-grid">
                <div class="col-md-4 col-xs-4 about-poleft t1">
                    <div class="about_img">
                        <img src="~/images/t1.jpg" alt="">
                        <h5>Victoria</h5>
                        <div class="about_opa">
                            <p>Professor</p>
                            <ul class="fb_icons2 text-center">
                                <li><a class="fa fa-facebook" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-google" href="#"></a></li>
                                <li><a class="fa fa-linkedin" href="#"></a></li>
                                <li><a class="fa fa-pinterest-p" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4 about-poleft t2">
                    <div class="about_img">
                        <img src="~/images/t2.jpg" alt="">
                        <h5>Darponia</h5>
                        <div class="about_opa">
                            <p>Senior Lecturers</p>
                            <ul class="fb_icons2 text-center">
                                <li><a class="fa fa-facebook" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-google" href="#"></a></li>
                                <li><a class="fa fa-linkedin" href="#"></a></li>
                                <li><a class="fa fa-pinterest-p" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4 about-poleft t3">
                    <div class="about_img">
                        <img src="~/images/t3.jpg" alt="">
                        <h5>Kylie</h5>
                        <div class="about_opa">
                            <p>Lecturers</p>
                            <ul class="fb_icons2 text-center">
                                <li><a class="fa fa-facebook" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-google" href="#"></a></li>
                                <li><a class="fa fa-linkedin" href="#"></a></li>
                                <li><a class="fa fa-pinterest-p" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="team-w3l-grid grid-2-team">
                <div class="col-md-4 col-xs-4 about-poleft t1">
                    <div class="about_img">
                        <img src="~/images/t4.jpg" alt="">
                        <h5>Cameron</h5>
                        <div class="about_opa">
                            <p>Professor</p>
                            <ul class="fb_icons2 text-center">
                                <li><a class="fa fa-facebook" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-google" href="#"></a></li>
                                <li><a class="fa fa-linkedin" href="#"></a></li>
                                <li><a class="fa fa-pinterest-p" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4 about-poleft t2">
                    <div class="about_img">
                        <img src="~/images/t5.jpg" alt="">
                        <h5>Darponia</h5>
                        <div class="about_opa">
                            <p>Senior Lecturers</p>
                            <ul class="fb_icons2 text-center">
                                <li><a class="fa fa-facebook" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-google" href="#"></a></li>
                                <li><a class="fa fa-linkedin" href="#"></a></li>
                                <li><a class="fa fa-pinterest-p" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4 about-poleft t3">
                    <div class="about_img">
                        <img src="~/images/t6.jpg" alt="">
                        <h5>Austin</h5>
                        <div class="about_opa">
                            <p>Lecturers</p>
                            <ul class="fb_icons2 text-center">
                                <li><a class="fa fa-facebook" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-google" href="#"></a></li>
                                <li><a class="fa fa-linkedin" href="#"></a></li>
                                <li><a class="fa fa-pinterest-p" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //team -->
    <!-- contact -->
    <div id="mail" class="contact">
        <div class="container">
            <h3 class="w3l-title">Mail Us</h3>
            <div class="w3layouts_header">
                <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
            </div>
            <div class="agile_banner_bottom_grids">
                <div class="col-md-4 col-xs-4 w3_agile_contact_grid">
                    <div class="agile_contact_grid_left">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="agile_contact_grid_right agilew3_contact">
                        <h4>Address</h4>
                        <p>Ahmedabad</p>
                        @*<p>NewYork City SD092.</p>*@
                    </div>
                </div>
                <div class="col-md-4 col-xs-4 w3_agile_contact_grid">
                    <div class="agile_contact_grid_left agileits_w3layouts_left">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                    </div>
                    <div class="agile_contact_grid_right agileits_w3layouts_right">
                        <h4>Phone</h4>
                        <p>7874347377 @*<span>7874347377</span>*@</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4 w3_agile_contact_grid">
                    <div class="agile_contact_grid_left agileits_w3layouts_left1">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
                    <div class="agile_contact_grid_right agileits_w3layouts_right1">
                        <h4>Email</h4>
                        <p>
                            <a href="mailto:info@example.com">welltute@gmail.com</a>
                            @*<span><a href="mailto:info@example.com">info@example2.com</a></span>*@
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="w3l-form">
                <h3 class="w3l-title">Get In Touch</h3>
                <div class="contact-grid1">
                    <div class="contact-top1">
                        @using (Ajax.BeginForm("Registration", "Home", new AjaxOptions
                        {
                            OnSuccess = "OnSuccess",
                            OnFailure = "OnFailure",
                            LoadingElementId = "progress"
                        }))
                        {
                            <div class="col-md-6 col-xs-6 wthree_contact_left_grid">
                                <label>Name*</label>
                                @Html.TextBoxFor(x => x.InquiryformModelCV.Name, new { @required = "", @placeholder = "Name", @tabindex = "8" })
                                <label>E-mail*</label>
                                @Html.TextBoxFor(x => x.InquiryformModelCV.Email, new { @required = "", @placeholder = "E-mail", @tabindex = "9" })
                            </div>
                            <div class="col-md-6 col-xs-6 wthree_contact_left_grid">
                                <label>Phone Number*</label>
                                @Html.TextBoxFor(x => x.InquiryformModelCV.PhoneNumber, new { @required = "", @placeholder = "Phone Number", @tabindex = "10" })
                                <label>Subject*</label>
                                @Html.TextBoxFor(x => x.InquiryformModelCV.Subject, new { @required = "", @placeholder = "Subject", @tabindex = "11" })
                            </div>
                            <div class="form-group">
                                <label>Message*</label>
                                @Html.TextAreaFor(x => x.InquiryformModelCV.Message, new { @required = "", @placeholder = "", @tabindex = "12" })
                            </div>
                            <input type="submit" value="Send" name="Command">
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map">
        <div id=""></div>
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="wthree_footer_grid_left">
                <div class="col-md-3 col-xs-3 wthree_footer_grid_left1">
                    <h4>About Us</h4>
                    <p>
                        Donec viverra nunc eu neque porta, quis laoreet nisl gravida. Proin gravida,
                        diam ut consectetur porttitor.
                    </p>
                </div>
                <div class="col-md-3 col-xs-3 wthree_footer_grid_left1">
                    <h4>Navigation</h4>
                    <ul>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#about" class="scroll">About Us</a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#services" class="scroll">Services</a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#team" class="scroll">Team</a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#gallery" class="scroll">Gallery</a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#mail" class="scroll">Mail Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-3 wthree_footer_grid_left1 w3l-3">
                    <h4>Others</h4>
                    <ul>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#">Media</a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#">Mobile Apps</a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-3 wthree_footer_grid_left1 wthree_footer_grid_right1">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:info@example.com">welltute@gmail.com</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>7874347377</li>
                        @*<li><i class="fa fa-fax" aria-hidden="true"></i>+123 421</li>*@
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="w3layouts_copy_right">
        <div class="container">
            <p>© 2017 Welltute. All rights reserved | Design by <a href="#">Afjal Vora</a></p>
        </div>
    </div>

    <!-- //footer -->
    <!-- js-scripts -->
    <!-- js-files -->
    <script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js-files -->
    <!-- Baneer-js -->
    <!-- Map-JavaScript -->
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>*@
    @*@if (Model.UserLocationTransaction != null)
        {

            <script type="text/javascript">
            var markers =@Model.UserLocationTransaction

            @*        google.maps.event.addDomListener(window, 'load', init);
            function init() {
                var mapOptions = {
                    zoom: 11,
                    center: new google.maps.LatLng(40.6700, -73.9400),
                    styles: [{ "featureType": "all", "elementType": "labels.text.fill", "stylers": [{ "saturation": 36 }, { "color": "#000000" }, { "lightness": 40 }] }, { "featureType": "all", "elementType": "labels.text.stroke", "stylers": [{ "visibility": "on" }, { "color": "#000000" }, { "lightness": 16 }] }, { "featureType": "all", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "administrative", "elementType": "geometry.fill", "stylers": [{ "color": "#000000" }, { "lightness": 20 }] }, { "featureType": "administrative", "elementType": "geometry.stroke", "stylers": [{ "color": "#000000" }, { "lightness": 17 }, { "weight": 1.2 }] }, { "featureType": "landscape", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 20 }] }, { "featureType": "poi", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 21 }] }, { "featureType": "road.highway", "elementType": "geometry.fill", "stylers": [{ "color": "#000000" }, { "lightness": 17 }] }, { "featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [{ "color": "#000000" }, { "lightness": 29 }, { "weight": 0.2 }] }, { "featureType": "road.arterial", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 18 }] }, { "featureType": "road.local", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 16 }] }, { "featureType": "transit", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 19 }] }, { "featureType": "water", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 17 }] }]
                };
                var mapElement = document.getElementById('map');
                var map = new google.maps.Map(mapElement, mapOptions);
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(40.6700, -73.9400),
                    map: map,
                });
            }
            </script>
        }
    *@
    <script type="text/javascript">
        window.onload = function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    map.setCenter(initialLocation);
                });
            }
            var mapOptions = {
                //center: new google.maps.LatLng(23.013413, 72.562410),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                styles: [{ "featureType": "administrative", "elementType": "labels.text.fill", "stylers": [{ "color": "#444444" }] }, { "featureType": "landscape", "elementType": "all", "stylers": [{ "color": "#f2f2f2" }] }, { "featureType": "poi", "elementType": "all", "stylers": [{ "visibility": "off" }] }, { "featureType": "road", "elementType": "all", "stylers": [{ "saturation": -100 }, { "lightness": 45 }] }, { "featureType": "road.highway", "elementType": "all", "stylers": [{ "visibility": "simplified" }] }, { "featureType": "road.arterial", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "transit", "elementType": "all", "stylers": [{ "visibility": "off" }] }, { "featureType": "water", "elementType": "all", "stylers": [{ "color": "#46bcec" }, { "visibility": "on" }] }]
            };
            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

            for (i = 0; i < markers.length; i++) {
                var data = markers[i]
                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                var icon = "";
                if (data.Company == "") {
                    icon = "blue";
                } else {
                    icon = "red";
                }
                icon = "http://maps.google.com/mapfiles/ms/icons/" + icon + ".png";
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,

                    title: data.title,
                    animation: google.maps.Animation.DROP,
                    icon: new google.maps.MarkerImage(icon)

                    //var marker = new google.maps.Marker({
                    //    position: myLatlng,
                    //    map: map,
                    //    title: data.title
                });

                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent(data.title + "<br>" + " <a href=ArtistProfile.aspx?ArtistID=" + data.ArtistId + ">View Profile...</a>");
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
        }
    </script>

    <!-- //Map-JavaScript -->
    <!-- smooth scrolling -->
    <script src="~/js/SmoothScroll.min.js"></script>
    <!-- //smooth scrolling -->
    <!-- stats -->
    <script type="text/javascript" src="~/js/numscroller-1.0.js"></script>
    <!-- //stats -->
    <!-- moving-top scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //moving-top scrolling -->
    <!-- gallery popup -->
    <script src="~/js/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(".swipebox").swipebox();
        });
    </script>
    <!-- //gallery popup -->
    <!--/script-->
    <script src="~/js/simplePlayer.js"></script>
    <script>
        $("document").ready(function () {
            $("#video").simplePlayer();
        });
    </script>
    <!-- //Baneer-js -->
    <!-- Calendar -->
    <script src="~/js/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
    <!-- //Calendar -->
    <!-- //js-scripts -->
    <script type="text/javascript">
        function OnSuccess(response) {
            //$(document).ready(function () {
            //    // Hide the "busy" Gif at load:
            $("#divProcessing").show();
            //}
        }
        function OnFailure(response) {
            alert("Error occured.");
        }
    </script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script type="text/javascript">
        

        window.onscroll = function () { myFunction() };

        //// Get the navbar
        var navbar = document.getElementById("navbar");

        //// Get the offset position of the navbar
        var sticky = navbar.offsetTop;

        //// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }

    </script>



</body>
</html>
